:root{
    --yellow : #FFCC00;
}
@font-face{
    font-family: 'Coolvetica';
    src: url(font/coolveticarg.ttf);
}
.image img{
    position: fixed;
    top: 88%;
    width: 20%;
}

#wow img{
    position : absolute;
    bottom: 81%;
    left:85%;
    width: 10%;

}
#wow2 img{
    position : absolute;
    bottom: 65%;
    left:85%;
    width: 10%;

}
#wow3 img{
    position : absolute;
    bottom: 50%;
    left:85%;
    width: 10%;

}
#test{
    list-style-type: none;
    border-radius: 5px;
    background-color: #40AB83 ;
    padding-top: 50px;
}
#about{
    display: inline;
    font-size: 100px;
    font-family: 'Coolvetica';
    color: white;
    margin-left: 10px;
}


#secbord {
    background-color: #CD3971;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#bima {
    display: inline;
    font-size: 80px;
    font-family: 'Coolvetica';
    color: white;
    margin-left: 10px;
}
#thdbord {
    background-color: #CD3971;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
}
#ilkom{
    display: inline;
    font-size: 60px;
    font-family: 'Coolvetica';
    color: white;
    margin-left: 10px;
}
.hai{
    position: flex;
    font-size: 70px;
    color: #41B88B;
    font-style: normal;
    text-align: left;
    margin: 30%;
}

#hobibord {
    background-color: black;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 150px;
    padding-top: 20px;
    padding-right: auto;
}
.hobi {
    font-size: 60px;
    font-family: 'Coolvetica';
    color: white;
    margin-left: 10px;
}
li.hobi{
    font-size: 50px;
    font-family: 'Helvetica';
    color: white;

}
#sosmedbord{
    background-color: grey;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 150px;
    padding-top: 20px;
    padding-right: auto;
}
.sosmed {
    font-size: 60px;
    margin-left: 20px;
    font-family: 'Coolvetica';
    color: white;
    padding-bottom: 20px;
}
.sosos {
    display: inline-block;
    font-size: 40px;
}
.sosimg {
    display: inline-block;
    float: left;
    width: 15%;
}
.sososis {
    display: inline-block;
    font-size: 40px;
    left: 10px;
}
.sosimgs {
    display: inline-block;
    float: left;
    width: 9%;
    margin-right: 10px;
}
@media only screen and (max-width: 500px) {
    @font-face{
        font-family: 'Coolvetica';
        src: url(font/coolveticarg.ttf);
    }
    #wow img{
        position : fixed;
        bottom: 40%;
        left:2%;
        width: 15%;

    }
    #wow2 img{
        position : fixed;
        bottom: 25%;
        left:2%;
        width: 15%;

    }
    #wow3 img{
        position : fixed;
        bottom: 10%;
        left:2%;
        width: 15%;

    }
    #test{
        list-style-type: none;
        border-radius: 5px;
        background-color: #40AB83 ;
        padding-top: 50px;
    }
    #about{
        display: inline;
        font-size: 50px;
        font-family: 'Coolvetica';
        color: white;
        margin-left: 10px;
    }


    #secbord {
        background-color: #CD3971;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 100px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    #bima {
        display: inline;
        font-size: 35px;
        font-family: 'Coolvetica';
        color: white;
        margin-left: 10px;
    }
    #thdbord {
        background-color: #CD3971;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 150px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #ilkom{
        display: inline;
        font-size: 30px;
        font-family: 'Coolvetica';
        color: white;
        margin-left: 10px;
    }
    .hai{
        position: flex;
        font-size: 70px;
        color: #41B88B;
        font-style: normal;
        text-align: left;
        margin: 30%;
    }

    #hobibord {
        background-color: black;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 150px;
        padding-top: 20px;
        padding-right: auto;
    }
    .hobi {
        font-size: 30px;
        font-family: 'Coolvetica';
        color: white;
        margin-left: 10px;
    }
    li.hobi{
        font-size: 25px;
        font-family: 'Helvetica';
        color: white;

    }
    #sosmedbord{
        background-color: grey;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 150px;
        padding-top: 20px;
        padding-right: auto;
    }
    .sosmed {
        font-size: 30px;
        margin-left: 20px;
        font-family: 'Coolvetica';
        color: white;
        padding-bottom: 20px;
    }
    .sosos {
        display: inline-block;
        font-size: 20px;
    }
    .sosimg {
        display: inline-block;
        float: left;
        width: 15%;
    }
    .sososis {
        display: inline-block;
        font-size: 20px;
        left: 10px;
    }
    .sosimgs {
        display: inline-block;
        float: left;
        width: 9%;
        margin-right: 10px;
    }
}